body {
  font-family: 'Lora', serif;
  background-image: url('bgpictureBig.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rosybrown;
  min-height: 100vh;
  margin: auto 0;
}
.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: whitesmoke;
}

button {
  padding: 10px;
  height: auto;
  width: 200px;
  background-color: rosybrown;
  font-size: 18px;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bold;
}

input {
  width: 150px;
  height: 30px;
  font-size: 14px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1;
  }

.displayResults {
  background-color: rosybrown;
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  border: solid 1px whitesmoke;
}


@media (max-width: 500px) {
  .displayResults {
    width: 60%;
  }
}